{{#each genress}}
<div>
    <div class="imageWrapper">
    <img src="/images/hand_graphic.svg" alt="">
    </div>
      <h2>{{title}}</h2>
    <p>Enter at your own risk</p>
    <p><a href="/create/{{theme}}">play game</a></p>

</div>
{{/each}}
