<div class="container home">
    <h1>{{title}}</h1>
    <img class="img-circle form-graphic" src="images/hand_graphic.svg" alt="hand graphic">

<h2>Your fortune is: </h2>
    <p>{{fortune.fortuneResult1}} {{fortune.fortuneResult2}}</p>
    <p>Don't like your fortune?</p>
    <a href="/">
        <button>Try again</button>
    </a>
</div>

