<div class="container">
    <h1>{{title}}</h1>
    <img class="img-circle form-graphic" src="images/hand_graphic.svg" alt="hand graphic">

<h2>Your fortune is: </h2>
    <p class="answer">The color {{fortune.fortuneResult1}} and the number {{fortune.fortuneResult2}} {{fortune.sentence}}</p>
    <p>Don't like your fortune?</p>
    <a href="/">
        <button>Try again</button>
    </a>
</div>

s