<div class="container home">
    <h1>{{title}}</h1>
    <div class="imageWrapper">
        <img src="/images/hand_graphic.svg" alt="">
    </div>
    <p>Enter at your own risk</p>
    <a href="/q1">
        <button>Go on, do it!</button>
    </a>
</div>

