<div class="container q1">
  <h1>{{title}}</h1>
  <img class="img-circle form-graphic" src="images/hand_graphic.svg" alt="hand graphic">
  <form class="form" action="/q1" method="post">  
    <label for="a1" class="form-item">
      What is your favourite colour?
    </label>  
    <input type="text" name="a1" value="" required>
    <input class="button" type="submit" name="" value="Submit">
  </form>
</div>
