<div class="container q2">
  <h1>{{title}}</h1>
  <img class="img-circle form-graphic" src="images/hand_graphic.svg" alt="hand graphic">
<form class="form" action="/q2" method="post">  
  <label for="answer-two" class="form-item">
   What is your favourite number?
  </label>  
  <input type="text" name="breed" value="">
  <input class="button" type="submit" name="" value="Submit">
</form>
</div>